# Port number for the Express server to run on
PORT=3001

# MongoDB Connection String
MONGO_URI=mongodb://127.0.0.1:27017/tinder

# Secret Key used to sign JWT Tokens
JWT_SECRET=your_jwt_secret_key_here

# Environment state (development, production)
NODE_ENV=development

# Cloudinary Configuration for Image Uploads
CLOUDINARY_API_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
